name: backend CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  ci-job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '15.x'
      - run: npm i
          # npm test  # not implement yet

  cd-job:
    runs-on: ubuntu-latest
    needs: ci-job
    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASS }}

      - name: Docker build backend
        run: |
          cd backend
          docker build . -t ${{ secrets.DOCKER_USER }}/doctor-scheduler-backend

      - name: Container Tags
        run: |
          docker tag ${{ secrets.DOCKER_USER }}/doctor-scheduler-backend ${{ secrets.DOCKER_USER }}/doctor-scheduler-backend:${{ github.sha }}
          docker tag ${{ secrets.DOCKER_USER }}/doctor-scheduler-backend ${{ secrets.DOCKER_USER }}/doctor-scheduler-backend:latest
      - name: Container Push
        run: |
          docker push ${{ secrets.DOCKER_USER }}/doctor-scheduler-backend:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USER }}/doctor-scheduler-backend:latest
